{% if cme_header %}
	<div id="cme-header-wrapper">
		<div class="container">
			<div id="cme-header" class="col-sm-12">
				<a href="/">
					<img src="https://s3.amazonaws.com/naccme/naccme/hmp_cme_only%402x.png" />
				</a>
			</div>
		</div>
	</div>
{% endif %}
<div id="header-wrapper" class="pColor">
	<section id="header" class="container {% if cme_header %}with-header{%endif%}">
		<div id="header-left" class="col-sm-8">
			    <div id="logo"><a href="{{homepath}}">
			    	<img src="{{brand_logo}}"/>
			    </a></div>
			</div>
			<div id="header-right" class="col-sm-4">
				{{ page.user_menu }}
				<!--<a class="fColor" href="/user/login?destination=" id="link-login">Login</a>
				<a class="fColor" href="/user/register?destination=" id="link-register">Register</a>		  	
				-->
			</div>
		</div>
	</section>
</div>
<div class="sColor" id="header-border"></div>


<section id="main" class="container">
	<section id="course-nav-mobile">{{ page.course_nav_mobile }}</section>
	<div id="page-content" class="{% if page.aside %}col-sm-8{% else %}col-sm-12{% endif %}">
		{{ page.content }}
	</div>
	{% if page.aside %}
	<div id="sidebar" class="col-sm-4">
		{{ page.aside }}
	</div>
	{% endif %}
</section>

<!-- footer -->
		<div id="footer">
			<div id="footer-inner">
				<div class="left">
					<img src="https://s3.amazonaws.com/naccme/naccme/hmpCMEFoot%402x.png">
				</div>
				<div class="right">
					<div class="right-items">
						<h4>ABOUT</h4>
						<ul>
							<li><a href="https://www.hmpglobal.com/about" target="_blank">About HMP CME</a></li>
							<li><a href="/contact">Contact Us</a></li>
							<li><a href="https://www.hmpglobal.com/privacy-policy" target="_blank">Terms/Privacy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="footer-low-wrap">
			<div id="footer-low">
				<div class="left">
					<img src="https://s3.amazonaws.com/naccme/naccme/hmp%402x.png">
				</div>
				<div class="right">
					<div class="right-items">
						<a href="https://www.hmpglobal.com/about" target="_blank">About  HMP</a> | <a href="https://www.hmpglobal.com/privacy-policy" target="_blank">Privacy Policy</a>  ©{{ "now"|date("Y") }} HMP.  All Rights Reserved.
					</div>
				</div>
			</div>
		</div>
		<!-- end footer -->